/* the default font is abysmally small in Skeleton
// this should help with readability 
//
// Having said that, I should double-check in other browsers/computers
// that the readability is consistently a problem,
// or something that should be solved with @media queries
*/
p {
    font-size: 2rem;
    font-family: "Overpass Mono";
}

.column h4 {
    font-family: "Overpass Mono";
    font-weight: bold;
}

#header {
    font-family: "Raleway";
}

/* navbar styling */
#navbar {
    overflow: hidden;
    background-color: #BBB;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar h3 {
    float: left;
    display: block;
    color: #444;
    padding: 14px;
}

#navbar h4 {
    float: right;
    display: block;
    color: #777;
    padding: 14px;
    text-decoration: none;
}

/* adding a custom background to emphasize a project is very
// "work-in-progress", or wip.
*/
.wip {
    background-image: url("../res/stripes-light.png");
}

@media (min-width: 550px) {
    .desktop-only {
        display: none;
    }
}