
html {
  height: 100%;
  position: relative;
}

body {
  height: inherit;
  background-color: #efefef;
}

@-moz-keyframes movement {
  from {-moz-transform: translateY(0px);}
  to {-moz-transform: translateY(40px);}
}

@-webkit-keyframes movement {
  from {-webkit-transform: translateY(0px);}
  to {-webkit-transform: translateY(40px);}
}

@keyframes movement {
  from {transform: translateY(0px);}
  to {transform: translateY(40px);}
}

#masami {
  -moz-animation-delay: 0ms;
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}

#espurr {
  -moz-animation-delay: 250ms;
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms;
}

#salt {
  -moz-animation-delay: 500ms;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

.poopdickbutt {
  position: relative;
  display: inline-block;
}
    
.images {
  width: 225px;
  height: 225px;
  
  -moz-animation-name: movement;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease-out;
  -moz-animation-fill-mode: forwards;
  
  -webkit-animation-name: movement;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  
  animation-name: movement;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
