
body {
  margin: 0 auto;
  position: relative;

  font-family: 'Lato', sans-serif;

  width: 1000px;

  color: #444444;

  background-color: #D1D1D1;
}

a:link {
  color: #2255DD;
  text-decoration: none;
}

a:visited {
  color: #2255DD;
  text-decoration: none;
}

.fa {
  vertical-align: middle;
  color: #444444;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.biglink, .projectlink {
  display: flex;
  height: 200px;
  width: 700px;
  margin-bottom: 15px;

  position: relative;
}

.biglink p, .projectlink p {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(225, 225, 225, 0.5);
  margin: 0;
  padding: 10px 10px;
  border-top-right-radius: 5px;
}

.projectlink {
  height: 150px;
  width: 525px;
  margin-right: 25px;
}

.fa-3x:hover {
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  transform: translateX(-5px);
  color: #2255DD;
}

.fa-2x:hover {
  color: #2255DD;
}

#linkbox {
  width: 700px;
  /*position: fixed;*/
  position: inherit;
  margin-top: 10px;
}

#information {
  float: right;
  width: 250px;
  margin-top: 10px;
  padding: 10px;
  line-height: 40px;
  text-align: center;
}

#profilebox {
  text-align: center;
}

#profile {
  border: 5px solid white;
  border-radius: 50px;
  margin-bottom: 16px;
  display: inline;
  z-index: -1;
}

#snapcode {
  border: 5px solid white;
  height: 200px;
  width: 200px;
  border-radius: 50px;
  margin-bottom: 16px;
  z-index: 1;
  position: absolute;
  display: none;
}

#messengercode {
  border: 5px solid white;
  height: 200px;
  width: 200px;
  border-radius: 50px;
  margin-bottom: 16px;
  z-index: 2;
  position: absolute;
  display: none;
}

#socialmediaicons {
  float: left;
  width: 105px;
  text-align: right;
}

#socialmedialabels {
  float: right;
  width: 135px;
  text-align: left;
}

/* GITHUB SETTINGS */

#github {
  background-image: url(../res/codebg/5.jpg);
}
#github p {
  z-index: 1000;
}
.ghbg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: top;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 45s linear infinite 0s;
}
#gh1 {
  background-image: url(../res/codebg/1.jpg);
}
#gh2 {
  background-image: url(../res/codebg/2.jpg);
  animation-delay: 9s;
}
#gh3 {
  background-image: url(../res/codebg/3.jpg);
  animation-delay: 18s;
}
#gh4 {
  background-image: url(../res/codebg/4.jpg);
  animation-delay: 27s;
}
#gh5 {
  background-image: url(../res/codebg/5.jpg);
  animation-delay: 36s;
}

/* ELLO SETTINGS */

#ello {
  background-image: url(../res/ellobg/5.jpg);
}
#ello p {
  z-index: 1000;
}
.elbg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: top;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 45s linear infinite 0s;
}
#el1 {
  background-image: url(../res/ellobg/1.jpg);
  animation-delay: 1s;
}
#el2 {
  background-image: url(../res/ellobg/2.jpg);
  animation-delay: 10s;
}
#el3 {
  background-image: url(../res/ellobg/3.jpg);
  animation-delay: 19s;
}
#el4 {
  background-image: url(../res/ellobg/4.jpg);
  animation-delay: 28s;
}
#el5 {
  background-image: url(../res/ellobg/5.jpg);
  animation-delay: 35s;
}

/* BLOG SETTINGS */

#blog {
  background-image: url(../res/blogbg/5.jpg);
}
#blog p {
  z-index: 1000;
}
.blbg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: top;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 45s linear infinite 0s;
}
#bl1 {
  background-image: url(../res/blogbg/1.jpg);
  animation-delay: 2s;
}
#bl2 {
  background-image: url(../res/blogbg/2.jpg);
  animation-delay: 11s;
}
#bl3 {
  background-image: url(../res/blogbg/3.jpg);
  animation-delay: 20s;
}
#bl4 {
  background-image: url(../res/blogbg/4.jpg);
  animation-delay: 29s;
}
#bl5 {
  background-image: url(../res/blogbg/5.jpg);
  animation-delay: 38s;
}

/* OTHER SETTINGS */

#pokemon {
  background-image: url(../res/pokemonbg.png)
}

@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    3% { opacity: 1; animation-timing-function: ease-out; }
    22% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}