
body {
  margin: 0 auto;
  position: relative;

  font-family: 'Lato', sans-serif;

  width: 1000px;

  color: #444444;

  background-color: #D1D1D1;
}

a:link {
  color: #2255DD;
  text-decoration: none;
}

a:visited {
  color: #2255DD;
  text-decoration: none;
}

.fa {
  vertical-align: middle;
  color: #444444;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.biglink, .projectlink {
  display: flex;
  height: 200px;
  width: 700px;
  margin-bottom: 15px;

  position: relative;
}

.biglink p, .projectlink p {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(225, 225, 225, 0.5);
  margin: 0;
  padding: 10px 10px;
  border-top-right-radius: 5px;
}

.projectlink {
  height: 150px;
  width: 525px;
  margin-right: 25px;
}

.fa-3x:hover {
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  transform: translateX(-5px);
  color: #2255DD;
}

.fa-2x:hover {
  color: #2255DD;
}

#linkbox {
  width: 700px;
  position: fixed;
  margin-top: 10px;
}

#information {
  float: right;
  width: 250px;
  margin-top: 10px;
  padding: 10px;
  line-height: 40px;
  text-align: center;
}

#profile {
  border: 5px solid white;
  border-radius: 128px;
  margin-bottom: 16px;
  display: inline;
}

#socialmediaicons {
  float: left;
  width: 105px;
  text-align: right;
}

#socialmedialabels {
  float: right;
  width: 135px;
  text-align: left;
}

#github {
  background-image: url(../res/codebg.png);
}

#ello {
  background-image: url(../res/maryspeak.jpg);
}

#resume {
  background-image: url(../res/resumebg.png);
}

#pokemon {
  background-image: url(../res/pokemonbg.png)
}
